body{
    background-color: rgb(0, 0, 0);
}

.selections{
    display: flex;
    justify-content: center;
}

.selection{
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 2rem;
    transition:100ms;
    color: yellow;
    
}

.selection:hover{
    transform: scale(1.2);

}

.result{
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    margin-top: 1rem;
    align-items: center;
    color: yellow;
}

.result-score{
    margin-left: 1rem;
    font-size: 5rem;
    color: white ;
}

.result-selection {
    opacity: .5;
  }
  
  .result-selection.winner {
    opacity: 1;
    font-size: 1.5rem;
  }